//************  buttons

.btn_v1 {
    height: 50px;

    &.callback_btn {
        cursor: pointer;
        border-radius: 25px;
        padding: 16px 24px;
        font-weight: 500;

        &:before {
            font-size: 18px;
        }

    }

}

.green_btn {
    color: #fff;
}

.btn_red {
    color: #fff;
    background: #f46b65;
}
