.footer {
    padding: 20px 0 7px;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
    }

    &:before {
        bottom: 100%;
        margin-bottom: -160px;
        right: 0;
        left: 0;
        height: 475px;
        background: url(../i/footer_bg.jpg) no-repeat 50% 100%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 160px;
        width: 1400px;
        left: 50%;
        margin-left: -700px;
        bottom: 0;
        background: #f3f3f3;
    }

    .section_inner {
        position: relative;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer_col {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 6px;
    margin-bottom: 25px;

    &:first-child {
        padding-top: 0;
    }

    p {
        color: #666;
    }

    &._col_1 {
        overflow: hidden;
    }

    @include landscape() {
        float: left;
        padding-right: 10px;

        &._col_1 {
            width: 50%;
        }

        &._col_2 {
            width: 50%;
        }

        &._col_3 {
            width: 50%;
            float: right;
        }

        &._col_4 {
            width: 30%;
            position: absolute;
            bottom: 0;
            left: 12px;
        }
    }

    @include respond-to-min($resp_step_1) {
        float: left;
        padding-right: 10px;

        &._col_1 {
            width: 50%;
        }

        &._col_2 {
            width: 50%;
        }

        &._col_3 {
            width: 50%;
            float: right;
        }

        &._col_4 {
            width: 30%;
            position: absolute;
            bottom: 0;
            left: 12px;
        }
    }

    @include respond-to-min($resp_step_2) {
        &._col_1 {
            width: 34.3%;
        }

        &._col_2 {
            width: 42.3%;
        }

        &._col_3 {
            width: 23.4%;
        }
    }
}

.dev_link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    color: $clr_orange;
    font: bold 18px $mullerbold;
    text-decoration: none;
    margin-top: 16px;
    letter-spacing: .025em;

    &:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 20px;
        top: 50%;
        left: 0;
        margin-top: -10px;
        background: url(../i/k_logo.png) no-repeat 50% 50%;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}

.footer_phone {
    font: bold 24px $mullerbold;
    color: #3e3e3e;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    letter-spacing: .035em;
}

$rectWidth: $content-max-w;

.rect_1024 {
    @extend %hor_centr;
    position: absolute;
    width: $rectWidth;
    max-width: 100%;
    top: 0;
    bottom: 0;
    border: solid red;
    border-width: 0 1px;
    z-index: 10;
    pointer-events: none;

    &:after {
        @extend %hor_centr;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: red;
    }
}

.clr_orange {
    color: $clr_orange;
}
