//*************************** main slider

.main_slider_holder {
    margin: 0 -12px;

    .section_inner {
        position: relative;
    }

    @include respond-to-min($resp_step_2) {
        margin: 0;
        padding: 0 50px;
    }
}

.main_slider_next,
.main_slider_prev {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 100vw;
    min-width: 100%;

    &:before {
        @include transition_all(opacity .3s);
        //opacity: .5;
        content: '';
        position: absolute;
        height: 32px;
        top: 50%;
        margin-top: -18px;
        width: 50%;
        max-width: 35px;

        @include respond-to-min($resp_step_2) {
            //max-width: 100px;
        }
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.main_slider_next {
    left: 100%;

    &:before {
        left: 0;
        background: url(../i/chevron_r.png) no-repeat 100% 50%;
    }

    @include respond-to-max($resp_step_2) {
        margin-left: -60px;
    }
}

.main_slider_prev {
    right: 100%;

    &:before {
        right: 0;
        background: url(../i/chevron_l.png) no-repeat 0 50%;
    }

    @include respond-to-max($resp_step_2) {
        margin-right: -60px;
    }
}

.main_slider {
    //margin: 0 -60px;

    .slick-list {
        @extend %clearfix;
    }

    &.swiper-container {
        overflow: visible;
    }

    .slide {
        float: left;
        overflow: hidden;

        img {
            @include transition_all(filter .5s);
            display: block;
            -webkit-filter: blur(5px);
            filter: blur(5px);
        }

        &.swiper-slide-active,
        &.slick-current {
            img {
                -webkit-filter: none;
                filter: none;
            }
        }
    }
}
