include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Ватутники контакты')

    body
        .wrapper
            .base
                +header()

                div.main_content
                    .map_section
                        #ymap.map_block
                        .map_info_holder
                            .map_info
                                ul#map_switcher.map_switcher
                                    li.map_item
                                        a.gl_link._bus(href='#map_tab_1')
                                    li.map_item
                                        a.gl_link._car(href='#map_tab_2')
                                    li.map_item
                                        a.gl_link._walk(href='#map_tab_3')

                                .tabBlock(data-tab-context='#map_switcher')
                                    #map_tab_1
                                        h4.map_caption На общественном транспорте
                                        p Если вам нужно добраться до определенного адреса на личном авто, незаменимым помощником станет GPS-навигатор. В крупных мегаполисах этот прибор значительно облегчает поиск необходимых маршрутов большинству автолюбителей. Введя искомый адрес, вы получите подробную информацию о том, как добраться до указанного пункта из того места, где вы сейчас находитесь.
                                    #map_tab_2
                                        h4.map_caption На автомобиле
                                        p Если вам нужно добраться до определенного адреса на личном авто, незаменимым помощником станет GPS-навигатор. В крупных мегаполисах этот прибор значительно облегчает поиск необходимых маршрутов большинству автолюбителей. Введя искомый адрес, вы получите подробную информацию о том, как добраться до указанного пункта из того места, где вы сейчас находитесь.
                                    #map_tab_3
                                        h4.map_caption Пешком
                                        p Если вам нужно добраться до определенного адреса на личном авто, незаменимым помощником станет GPS-навигатор. В крупных мегаполисах этот прибор значительно облегчает поиск необходимых маршрутов большинству автолюбителей. Введя искомый адрес, вы получите подробную информацию о том, как добраться до указанного пункта из того места, где вы сейчас находитесь.

            +footer()

    +scripts(true)
