include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Ватутники главная')

    body
        .wrapper
            .base
                +header()

                div.main_content
                    +main_slider()

                    +benefits_section()

                    +overview_section()

                    +action_section(1)

                    .article_section
                        .section_inner
                            .article_block
                                .article_img._left
                                    img(src='i/article_1.jpg')
                                h3 технологии
                                p ЖК "Селигер Сити" - индивидуальный проект комфорт-класса на севере Москвы. Комплекс уникален как в архитектурном, так и в техническом плане: дома возводятся по современной технологии информационного моделирования BIM. Команда архитекторов, проектировщиков и инженеров создает 3-D модель, которая позволяет не только строить, но и в дальнейшем управлять объектом. Внутри комплекса есть все для полноценной жизни: детский сад, школа, магазины, кафе, банки, службы быта, парк с прогулочными аллеями.
                                .cb
                                .article_img._right
                                    img(src='i/article_2.jpg')
                                h3 окружение
                                p На участке в 38 Га возводятся 11 жилых домов переменной этажности  - от 6 до 38 этажей. В подземном пространстве организован вместительный паркинг. Первые этажи займут объекты торговой и социальной инфраструктуры. Центральная часть территории выделена под большой парк с беседками, велодорожками, прогулочными аллеями. Площадь парка эквивалентна четырем футбольным полям. Здесь появятся зоны барбекю, теннисный корт, пруд с живописной набережной, детская и спортивная площадки, стадион.
                                .cb
                                .text_center
                                    h3 ВНУТРЕННЯЯ СРЕДА
                                    p ЖК "Селигер Сити" - индивидуальный проект комфорт-класса на севере Москвы. Комплекс уникален как в архитектурном, так и в техническом плане: дома возводятся по современной технологии информационного моделирования BIM. Команда архитекторов, проектировщиков и инженеров создает 3-D модель, которая позволяет не только строить, но и в дальнейшем управлять объектом. Внутри комплекса есть все для полноценной жизни: детский сад, школа, магазины, кафе, банки, службы быта, парк с прогулочными аллеями.

                    +infrastructure_slider()

                    .doc_section
                        .section_inner
                            .section_title Проектная документация

                            dl.doc_list
                                dt Проектная декларация:
                                dd Корпус 10, Корпус 11, Корпус 13
                                br

                                dt Разрешение на строительсто:
                                dd Корпус 10, Корпус 11, Корпус 13, Корпус 14, Корпус 6, Корпус 9
                                br

                                dt Технические условия:
                                dd Подключение элекстричества, Подключение газа
                                br

                                dt Разрешение на эксплуатацию:
                                dd Корпус 10, Корпус 13
                                br

                                dt Прочие:
                                dd Сертификат качества, Премия PREF
                                br

                    +action_section(2)

                    .interest_section
                        .section_inner.text_center
                            .section_title Интересное о комплексе
                            p Проект предусматривает фитнес-центр, футбольное поле
                            p Прогуливаться вдоль тенистых аллей, отдыхать в беседках, загорать и устраивать пикники
                            p Для автовладельцев спроектирован вместительный подземный паркинг

            +footer()

    +scripts()
