include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Ватутники главная')

    body
        .wrapper
            .base
                +header(true)

                div.main_content
                    .flats_section
                        .section_inner
                            .section_title Ипотека

                            .mortgage_offers
                                .mortgage_table
                                    .row._head
                                        .td._col_1
                                            a.gl_link(href='#') название банка
                                        .td._col_2
                                            a.gl_link._desc(href='#') первоначальный взнос
                                        .td._col_3
                                            a.gl_link._asc(href='#') процентная ставка
                                        .td._col_4
                                            a.gl_link(href='#') срок кредитования

                                    +loop_while(6)
                                        .row._body
                                            .td._col_1 Тинькофф Банк
                                            .td._col_2 20%
                                            .td._col_3 19,9%
                                            .td._col_4 до 25 лет

                            ul.flat_list
                                li
                                    a.btn_v1.orange_btn_v2.more_btn(href='#') показать еще

                    .flats_section._bdr._playground
                        .section_inner
                            .section_title Материнский капитал

                            ul.rules_list
                                li Минимальная сумма первого взноса - 100 000 руб., вносится в течение 5 банковских дней.
                                li После внесения первоначального взноса сумма по рассрочке должна быть внесена в течение 11 месяцев следующих за месяцем внесения первого взноса. Всего за первые 12 месяцев должно быть внесено не менее 20% от стоимости квартиры по ДДУ.
                                li Досрочное погашение допускается без штрафных санкций.
                                li Последний платеж по договору (не более 80% от стоимости) оплачивается за счет ипотеки. Список используемых программ уточняйте в отделе продаж.

                    .flats_section._bdr.doc_section
                        .section_inner
                            .section_title Военная ипотека
                            p ЖК "Селигер Сити" - индивидуальный проект комфорт-класса на севере Москвы. Комплекс уникален как в архитектурном, так и в техническом плане: дома возводятся по современной технологии информационного моделирования BIM. Команда архитекторов, проектировщиков и инженеров создает 3-D модель, которая позволяет не только строить.

                    .flats_section._bdr
                        .section_inner
                            .section_title Рассрочка

                            ul.rules_list
                                li Минимальная сумма первого взноса - 100 000 руб., вносится в течение 5 банковских дней.
                                li После внесения первоначального взноса сумма по рассрочке должна быть внесена в течение 11 месяцев следующих за месяцем внесения первого взноса. Всего за первые 12 месяцев должно быть внесено не менее 20% от стоимости квартиры по ДДУ.
                                li Досрочное погашение допускается без штрафных санкций.
                                li Последний платеж по договору (не более 80% от стоимости) оплачивается за счет ипотеки. Список используемых программ уточняйте в отделе продаж.
                                li Для рассрочки доступна скидка за повторную покупку и скидка иногордним клиентам.
                                li Первый взнос может быть внесен по договору средствами материнского капитала.

                    +action_section(1)

    +footer()

    +scripts()
